@page
@model Index
@tagHelperPrefix x:

@{
    ViewData["Title"] = "Teamverwaltung";
}

<h1>Teamverwaltung</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Team Name</th>
        <th scope="col">Aktion</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Items.Count == 0)
    {
        <td colspan="3">Keine Daten</td>    
    }
    
    @for (var i = 0; i < Model.Items.Count; i++)
    {
        var team = Model.Items[i];
        <tr>
            <td>@(i + 1)</td>
            <td>@team.Club - @team.Name</td>
            <td>
                <x:a class="btn btn-dark" asp-route-target="Team" asp-route-id="@team.Id" asp-page-handler="item">
                    <i class="bi bi-people-fill"> Team bearbeiten</i>
                </x:a>
                <x:a class="btn btn-dark" asp-route-target="Players" asp-route-id="@team.Id" asp-page-handler="item">
                    <i class="bi bi-people-fill"> Mitglieder verwalten</i>
                </x:a>
                <x:a class="btn btn-dark" asp-route-target="StampCards" asp-route-id="@team.Id" asp-page-handler="item">
                    <i class="bi bi-postage"> Stempelkarten verwalten</i>
                </x:a>
                <x:a class="btn btn-dark" asp-route-id="@team.Id" asp-page-handler="delete">
                    <i class="bi bi-trash3-fill"> Team löschen</i>
                </x:a>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (User.IsInRole("manager"))
{
    <x:form asp-page="" method="post" class="needs-spinner">
        <div class="mb-3">
            <x:label asp-for="Name" class="form-label">Name</x:label>
            <x:input asp-for="Name" class="form-control"/>
        </div>

        <button class="btn-primary btn">Anlegen</button>
    </x:form>
}

