@page
@using SmartBreadcrumbs.Nodes
@model Index
@tagHelperPrefix x:

@{
    ViewData["Title"] = "Teamverwaltung";
    ViewData["BreadcrumbNode"] = new RazorPageBreadcrumbNode("Index", "Startseite");
}

<h2>Teamverwaltung</h2>
<x:form asp-page="" method="post">
    <x:div asp-validation-summary="All" class="alert alert-danger" role="alert">
    </x:div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Items.Count == 0)
        {
            <td colspan="3">Keine Daten</td>
        }

        @for (var i = 0; i < Model.Items.Count; i++)
        {
            var team = Model.Items[i];
            <tr>
                <td>@(i + 1)</td>
                <td>@team.Club - @team.Name</td>
                <td>
                    @if(User.IsInRole("manager")) 
                    {
                        <x:a class ="btn btn-dark" asp-route-target="Team" asp-route-id="@team.Id" asp-page-handler="item">
                            <i class="bi bi-diagram-3"> Team bearbeiten </i>
                        </x:a>
                    }
                    @if (team.Coaches.Contains(User.Identity?.Name ?? string.Empty))
                    {
                        <x:a class="btn btn-dark" asp-route-target="Players" asp-route-id="@team.Id" asp-page-handler="item">
                            <i class="bi bi-people-fill"> Spieler verwalten</i>
                        </x:a>
                    }
                    @if (team.Coaches.Contains(User.Identity?.Name ?? string.Empty))
                    {
                        <x:a class="btn btn-dark" asp-route-target="StampCards" asp-route-id="@team.Id" asp-page-handler="item">
                            <i class="bi bi-postage"> Stempelkarten verwalten</i>
                        </x:a>
                    }
                    @if (User.IsInRole("manager"))
                    {
                        <x:a class="btn btn-dark" asp-route-id="@team.Id" asp-page-handler="delete" data-loading="true">
                            <i class="bi bi-trash3-fill"> Team löschen</i>
                        </x:a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

    @if (User.IsInRole("manager"))
    {
        <div class="mb-3">
            <x:label asp-for="Name" class="form-label">Name</x:label>
            <x:input asp-for="Name" class="form-control"/>
        </div>

        <button class="btn-primary btn">Anlegen</button>
    }
</x:form>
