@page "/Teams/{Team}/Players"
@using SmartBreadcrumbs.Nodes
@model Players
@tagHelperPrefix x:

@{
    ViewData["Title"] = "Spieler: " + Model.Team;
    ViewData["BreadcrumbNode"] = new RazorPageBreadcrumbNode("Players", "Spielerübersicht")
    {
        Parent = new RazorPageBreadcrumbNode("Index", "Startseite"),
        RouteValues = new Dictionary<string, object>
        {
            { "Team", Model.Team }
        }
    };
}

<h2>Spielerverwaltung: @Model.Team</h2>

<x:form asp-page="" method="post">
    <!-- Validation summary -->
    <x:div asp-validation-summary="All" class="alert alert-danger" role="alert">
    </x:div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">Geburtsdatum</th>
            <th scope="col">Geburtsort</th>
            <th scope="col">Aktiviert</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Items.Count > 0)
        {
            @for (var i = 0; i < Model.Items.Count; i++)
            {
                var itemId = Model.Items[i].Id;
                <tr>
                    <td>@(i + 1)</td>
                    <td>
                        @Model.Items[i].FirstName
                    </td>
                    <td>
                        @Model.Items[i].LastName
                    </td>
                    <td>
                        @Model.Items[i].Birthdate
                    </td>
                    <td>
                        @Model.Items[i].Birthplace
                    </td>
                    <td>
                        <x:input asp-for="Items[i].Active" class="form-check-input" type="checkbox" disabled="true" />
                    </td>
                    <td>
                        <x:a class="btn btn-dark" asp-page="Player" asp-route-team="@Model.Team" asp-route-id="@itemId">
                            <i class="bi bi-person-fill"> Spieler bearbeiten</i>
                        </x:a>
                        <x:a class="btn btn-dark" asp-route-id="@itemId" asp-page-handler="delete" data-loading="true">
                            <i class="bi bi-trash3-fill"> Spieler löschen</i>
                        </x:a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">Keine Daten</td>
            </tr>
        }
        
        </tbody>
    </table>

    <div class="row g-3 mb-3">
        <div class="col-auto">
            <x:label asp-for="NewPlayer.FirstName" class="form-label">Vorname</x:label>
            <x:input asp-for="NewPlayer.FirstName" class="form-control"/>
        </div>
        <div class="col-auto">
            <x:label asp-for="NewPlayer.LastName" class="form-label">Nachname</x:label>
            <x:input asp-for="NewPlayer.LastName" class="form-control"/>
        </div>
        <div class="col-auto">
            <x:label asp-for="NewPlayer.Birthdate" class="form-label">Geburtsjahr</x:label>
            <x:input asp-for="NewPlayer.Birthdate" class="form-control"/>
        </div>
        <div class="col-auto">
            <x:label asp-for="NewPlayer.Birthplace" class="form-label">Geburtsort</x:label>
            <x:input asp-for="NewPlayer.Birthplace" class="form-control"/>
        </div>
    </div>
    <button type="submit" class="btn-primary btn">Anlegen</button>
</x:form>