@page "/Teams/{Team}/StampCards"
@using SmartBreadcrumbs.Nodes
@model StampCards
@tagHelperPrefix x:

@{
    ViewData["Title"] = "Stempelkarten - " + Model.Team;
    ViewData["BreadcrumbNode"] =
        new RazorPageBreadcrumbNode("StampCards", "Stempelkarten")
        {
            Parent = new RazorPageBreadcrumbNode("Index", "Startseite"),
            RouteValues = new Dictionary<string, object>
            {
                { "Team", Model.Team }
            }
        };
}

<h2>Stempelkarten - @Model.Team</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Spieler</th>
        <th scope="col">Geschäftsjahr</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Items.Count > 0)
    {
        @for (var i = 0; i < Model.Items.Count; i++)
        {
            var itemId = Model.Items[i].Id;
            <tr>
                <td>@(i + 1)</td>
                <td>
                    @Model.Items[i].PlayerName
                </td>
                <td>
                    @Model.Items[i].AccountingYear
                </td>
                <td>
                    <x:a class="btn btn-dark" asp-page="Stamps" asp-route-team="@Model.Team" asp-route-stampCardId="@itemId">
                        <i class="bi bi-credit-card-2-front"> Stempelkarte bearbeiten</i>
                    </x:a>
                    <x:a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        <i class="bi bi-trash3-fill"> Stempelkarte löschen</i>
                    </x:a>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Wirklich löschen?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Möchten Sie die <strong>Stempelkarte: @Model.Items[i].PlayerName (@Model.Items[i].AccountingYear)</strong> endgültig löschen?<br>
                                    Diese Aktion kann <strong>nicht</strong> rückgängig gemacht werden.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                                    <x:a class="btn btn-danger" asp-route-id="@itemId" asp-page-handler="delete" data-loading="true">Ja, löschen</x:a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    }
    else
    {
        <td colspan="4">Keine Daten</td>
    }
    </tbody>
</table>

<x:form method="post" asp-page="">
    <!-- Validation summary -->
    <x:div asp-validation-summary="All" class="alert alert-danger mb-3" role="alert">
    </x:div>
    <div class="row g-3 mb-3">
        <div class="col-auto">
            <x:label asp-for="PlayerName">Spieler</x:label>
            <x:select asp-for="PlayerName" asp-items="@Model.Players" class="form-control">
            </x:select>
        </div>
        <div class="col-auto">
            <x:label asp-for="AccountingYear">Geschäftsjahr</x:label>
            <x:input asp-for="AccountingYear" class="form-control"/>
        </div>
    </div>
    <div class="mb-3">
        <x:button type="submit" class="btn-primary btn" asp-page-handler="manual">Anlegen</x:button>
    </div>
    <div class="mb-3">
        <x:button type="submit" class="btn-primary btn" asp-page-handler="auto">Automatisch füllen</x:button>
    </div>
</x:form>