@page "/Teams/{Team}/StampCard/{StampCardId}/Stamps"
@model Stamps
@tagHelperPrefix x:

@{
    ViewData["Title"] = "Stempelkarten - " + Model.Team;
}

<h2>Stempelkarten - @Model.Team/@Model.StampCardId</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Grund</th>
        <th scope="col">Stempel erstellt von</th>
        <th scope="col">Stempel erhalten am</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @if(Model.Items.Count > 0) 
    {
        @for (var i = 0; i < Model.Items.Count; i++)
        {
            var itemId = Model.Items[i].Id;
            <tr>
                <td>@(i + 1)</td>
                <td>
                    @Model.Items[i].Reason
                </td>
                <td>
                    @Model.Items[i].Issuer
                </td>
                <td>
                    @Model.Items[i].IssuedOn
                </td>
                <td>
                    <x:a class="btn btn-dark" asp-route-id="@itemId" asp-page-handler="delete" data-loading="true">
                        <i class="bi bi-trash3-fill"> Stempelkarte löschen</i>
                    </x:a>
                </td>
            </tr>
        }
    }
    else
    {
        <td colspan="5">Keine Daten</td>
    }
    </tbody>
</table>

<x:form asp-area="" asp-page="" method="post">
    <!-- Validation summary -->
    <x:div asp-validation-summary="All" class="alert alert-danger mb-3" role="alert">
    </x:div>
    <div class="row g-3 mb-3">
        <div class="col-auto">
            <x:label asp-for="@Model.Fields.Reason" class="form-label">Grund</x:label>
            <x:input asp-for="@Model.Fields.Reason" class="form-control"/>
        </div>
    </div>
    <div class="mb-3">
        <button class="btn-primary btn">Stempeln</button>
    </div>
</x:form>