@page "/Teams/{Team}"
@model Team
@tagHelperPrefix x:

@{
    ViewData["Title"] = Model.Id + " bearbeiten";
}

<h1>Team @Model.Coach</h1>
<x:form asp-area="" asp-page="" method="put">
    <div class="mb-3">
        <x:label asp-for="Id" class="form-label">Team-Name</x:label>
        <x:input asp-for="Id" class="form-control"/>
    </div>
    <button class="btn-primary btn">Aktualisieren</button>
</x:form>

<h1>Team-Coaches</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Team-Coach</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Items.Count == 0)
    {
        <tr>
            <td colspan="3">Keine Daten</td>
        </tr>
    }
    else
    {
        @for (var i = 0; i < Model.Items.Count; i++)
        {
            var itemId = @Model.Items[i];
            <tr>
                <td>@(i + 1)</td>
                <td>
                    @Model.Items[i]
                </td>
                <td>
                    <x:a class="btn btn-dark" asp-page-handler="delete" asp-route-id="@itemId">
                        <i class="bi bi-trash3-fill">Coach entfernen</i>
                    </x:a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<x:form asp-area="" asp-page="" asp-page-handler="coach" method="post">
    <div class="mb-3">
        <x:label asp-for="Coach" class="form-label">Coach (E-Mail)</x:label>
        <x:input asp-for="Coach" class="form-control"/>
    </div>
    <button class="btn-primary btn">Hinzufügen</button>
</x:form>

@section scripts{
    <x:partial name="_ValidationScriptsPartial"/>
}