@page "/Teams/{Team}"
@model Team
@tagHelperPrefix x:

@{
    ViewData["Title"] = Model.Id + " bearbeiten";
}

<x:div asp-validation-summary="All" class="alert alert-danger" role="alert">
</x:div>

<h1>Team @Model.Id</h1>
<div class="mb-3">
<x:form asp-area="" asp-page="" asp-page-handler="team" method="post">
    <div class="mb-3">
        <x:label asp-for="NewName" class="form-label">Team-Name</x:label>
        <x:input asp-for="NewName" class="form-control"/>
        <x:input hidden="hidden" asp-for="SetConcurrencyToken"/>
    </div>
    <button class="btn-primary btn">Aktualisieren</button>
</x:form>
</div>

<h1>Team-Coaches</h1>
<div class="mb-3">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Team-Coach</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Coaches.Count == 0)
        {
            <tr>
                <td colspan="3">Keine Daten</td>
            </tr>
        }
        else
        {
            @for (var i = 0; i < Model.Coaches.Count; i++)
            {
                var itemId = @Model.Coaches[i];
                <tr>
                    <td>@(i + 1)</td>
                    <td>
                        @Model.Coaches[i]
                    </td>
                    <td>
                        <x:a class="btn btn-dark" data-loading="true" asp-page-handler="delete" asp-route-name="@itemId">
                            <i class="bi bi-trash3-fill">Coach entfernen</i>
                        </x:a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<div class="mb-3">
    <x:form asp-area="" asp-page="" asp-page-handler="coach" method="post">
        <div class="mb-3">
            <x:label asp-for="NewCoach" class="form-label">Coach (E-Mail)</x:label>
            <x:input asp-for="NewCoach" class="form-control"/>
        </div>
        <button class="btn-primary btn">Hinzufügen</button>
    </x:form>
</div>

@section scripts{
    <x:partial name="_ValidationScriptsPartial"/>
}